th,tr,table,td{
	 border: 3px solid black;
    border-collapse: ;
}
.none,.hi{
	border:none;
}
.hi{
	width:100%

}
.html{
background-color:black;
	color:white;
}
.hi{
	margin-top:50px;
	margin-bottom:50px;
}

/* Your CSS Code here. */